<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form method="get" action='/1'>
            <label>扫描周期：(暂定参数 0：单次 1: 循环 )<input type="text" name="input1" value=""></label><br>
            <label>开始时间：(暂定格式：2017-12-13 14:00:01)<input type="text" name="input2" value=""></label><br>
            <label>id：<input type="text" name="input3" value=""></label><br>
            <input type="submit" value="提交"><br>
            <label>sign：(暂停：1)<input type="text" name="input4" value=""></label><br>
            <input type="submit" value="暂停"><br>
            <label>sign：(恢复：0)<input type="text" name="input5" value=""></label><br>
            <input type="submit" value="恢复"><br>
             <label>sign：(删除：2)<input type="text" name="input6" value=""></label><br>
            <input type="submit" value="删除">
        </form>
    </body>
</html></title>
</head>
<body>

</body>
</html>